<footer class="footer">
  <div class="footer-grid">
    <div class="footer-brand">
      <img class="footer-logo" src="/assets/images/img/vrs-logo1-removebg-preview.png" style="width:100px;height:100px;"/>

      <p>Crafting sanctuary in the modern world. Every stay is a masterpiece of comfort and curated elegance in the heart of Mayiladuthurai.</p>
    </div>

    <div class="footer-col">
      <h4>Navigation</h4>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="amenities.html">Amenities</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="tourist.html">Tourist Places</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Legal</h4>
      <ul>
        <li><a href="legal.html">Privacy Policy</a></li>
        <li><a href="legal.html">Terms of Service</a></li>
        <li><a href="legal.html">Refund Policy</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Contact</h4>
      <div class="footer-contact-item">
        <span>No.6 VRS COMPLEX 
 Pattamangalam Street,<br/>Mayiladuthurai – 609 001</span>
      </div>
      <div class="footer-contact-item">
        <span><a href="mailto:vrsmanagement89@gmail.com" style="color:var(--gold-muted);"> vrsmanagement89@gmail.com</a></span>
      </div>
      <div class="footer-contact-item">
        <span><a href="tel:+91 9363004340" style="color:var(--gold-muted);">9363004340</a></span>
        <span><a href="tel:04364-222873" style="color:var(--gold-muted);">, 04364-222873</a></span>

      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-copyright-wrap">
          <img class="footer-bottom-logo" src="/assets/images/img/vrs-logo1-removebg-preview.png" style="width:50px;height:50px;"/>

      <p class="footer-copyright" style="margin-top:0.5rem;">© VRS Homestay. All Rights Reserved.</p>
      <p class="footer-copyright" style="margin-top:0.5rem;">Design & Developed by <a href= "https://vastvel.com" style = "text-decoration: underline;">Vastvel Freelancing</a> </p>
    </div>
  </div>
</footer>